
.featured-games {
  padding: 30px 60px 30px 60px;
}
.featured-games .card-body {
	background-color: rgb(0, 0, 0);
	color: #9e9ee1;
}
.card-img-top {
  height: 280px;
}

/* FAQ's Styling */

.accordion .card {
	background: none;
	border: none;
}
.accordion .card .card-header {
	background: none;
	border: none;
	padding: .4rem 1rem;
	font-family: "Roboto", sans-serif;
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header .btn {
	color: #9e9ee1;
	font-size: 1.35rem;
	text-align: left;
	position: relative;
	font-weight: 900;
	padding-left: 2rem;
}
.accordion .card-header i {
	font-size: 1.2rem;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 9px;
}
.accordion .card-header .btn:hover {
	color: #ff8300;
}
.accordion .card-body {
	color: #ffffff;
	padding: 0.5rem 3rem;
}
.page-title {
  color: #ffffff;
	margin: 3rem 0 3rem 1rem;
	font-family: "Roboto", sans-serif;
	position: relative;
}
.page-title::after {
	content: "";
	width: 300px;
	position: absolute;
	height: 3px;
	border-radius: 1px;
	background: #73bb2b;
	left: 0;
	bottom: -15px;
}
.accordion .highlight .btn {
	color: #74bd30;
}
.accordion .highlight i {
	transform: rotate(180deg);
}


/* Ipad and below responsive */
@media(max-width:820px){
  .home-image{
    height: 400px;
  }
}

/* Iphone and below responsive */
@media(max-width:400px){
  .home-image{
    height: 230px;
  }
  .featured-games-title {
    text-align: center;
  }
}
